@model Technician
@{
    string title = "Add Technician";
    ViewBag.Title = title;
}
<h1>@title</h1>

<form asp-action="AddTechnician" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3 form-group">
        <label class="form-label" asp-for="TechnicianName">Name</label>
        <input asp-for="TechnicianName" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="TechnicianEmail" class="form-label">Email Address</label>
        <input asp-for="TechnicianEmail" type="email" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="TechnicianPhone" class="form-label">Phone</label>
        <input asp-for="TechnicianPhone" type="text" class="form-control">
    </div>
    <input type="hidden" asp-for="TechnicianId" />


    <button type="submit" class="btn btn-primary">Add</button>
    <button asp-controller="Technician" asp-action="ManageTechnician" type="submit" class="btn btn-primary">Cancel</button>
</form>
<p>Use this page to Add Technicians.</p>