@model Product
@{
    ViewBag.Title = "Add Product";
}
<h1>@ViewBag.Title</h1>

<form asp-action="AddProduct" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="ProductCode">Code</label>
        <input asp-for="ProductCode" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ProductName">Name</label>
        <input asp-for="ProductName" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ProductYearlyPrice">Yearly Price</label>
        <input asp-for="ProductYearlyPrice" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ProductReleaseDate">Release Date</label>
        <input asp-for="ProductReleaseDate" type="date" class="form-control">
    </div>
    <input type="hidden" asp-for="ProductId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <button asp-controller="Product" asp-action="ManageProduct" type="submit" class="btn btn-primary">Cancel</button>
</form>
<p>Use this page to Add Products.</p>