@model IEnumerable<Technician>
@{
    ViewData["Title"] = "About Page";
}

<div class="container rounded p-3 bg-secondary text-white">
    <h3 class="mt-5 lead">About</h3>
    <p class="mb-5 text-white-50">SportsPro Technical Support constantly strives to provide the highest level of technical support of all products in the SportsPro family.</p>
</div>


