@model Incident

@{ string title = ViewBag.Action + "Incident";
                ViewBag.Title = title; }
<h1>@title</h1>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="CustomerName">Customer Name</label>
        <input asp-for="CustomerName" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label"  asp-for="Product">Product Name</label>
        <input asp-for="Product" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label"  asp-for="DateOpened" >Date Opened</label>
        <input asp-for="DateOpened" type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit @ViewBag.Action</button>
    <button type="submit" class="btn btn-primary">Cancel</button>
</form>
<p>Use this page to Add Incidents.</p>