@model Technician
@{
    string title = ViewBag.Action + "Technician";
    ViewBag.Title = title;
}
<h1>@title</h1>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="TechnicianName">Name</label>
        <input asp-for="TechnicianName" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="TechnicianEmail" class="form-label">Email Address</label>
        <input asp-for="TechnicianEmail" type="email" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="TechnicianPhone" class="form-label">Password</label>
        <input asp-for="TechnicianPhone" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <button type="submit" class="btn btn-primary">Cancel</button>
</form>
<p>Use this page to Add Technicians.</p>