@model Customer

@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}
<h1>@title</h1>

<form asp-action="EditCustomer" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3 form-group">
        <label class="form-label" asp-for="CustomerFirstName">First Name</label>
        <input asp-for="CustomerFirstName" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerLastName" class="form-label">Last Name</label>
        <input asp-for="CustomerLastName" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerAddress" class="form-label">Address</label>
        <input asp-for="CustomerAddress" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerCity" class="form-label">City</label>
        <input asp-for="CustomerCity" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label class="form-label" asp-for="CustomerState">State/Province</label>
        <input asp-for="CustomerState" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerPostalCode" class="form-label">Postal Code</label>
        <input asp-for="CustomerPostalCode" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CountryId">Country</label>
        <select asp-for="CountryId" class="form-control">
            <option value="">Select A Country</option>
            @foreach (Country c in ViewBag.Countries)
            {
                <option value="@c.CountryId">@c.CountryName</option>
            }
        </select>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerEmail" class="form-label">Email Address</label>
        <input asp-for="CustomerEmail" type="email" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="CustomerPhone" class="form-label">Phone Number</label>
        <input asp-for="CustomerPhone" type="text" class="form-control">
    </div>
    <input type="hidden" asp-for="CustomerId" />


    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <button asp-controller="Customer" asp-action="ManageCustomer" type="submit" class="btn btn-primary">Cancel</button>
</form>
<p>Use this page to Add Customer.</p>